<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dad Joke Generator!</title>

    <style>
        @import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);

        body {
            text-align: center;
            background-color: #FFEBEE;
        }
        h1 {
            font-family: 'Patrick Hand SC', cursive;
        }
        img {
            border-radius: 8px;
        }
    </style>

</head>
<body>

    <h1>Tell me a joke, dad!</h1>

    <p>{{joke}}</p>

    <img src="static/pundog.png">

</body>
</html>